<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikTakToe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tiktaktoe.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Tik Tak Toe</h1>
    <div id="board"></div>
    <div id="result"></div>
    <button class="backButton" onclick="home()">back to menu</button>
    <button class="backButton" onclick="restart()">restart</button>

</body>
</html>